/*------------------------------------*\
	Colors - Borders - Backgrounds - 
	Typography - Font Size, Weight
\*------------------------------------*/
:root {
	/* --- Colors --- */
	--color-green: #9fc739;
	--color-blue: #01a6e7;
	--color-red: rgb(255, 0, 0);
	--color-white: #ffffff;
	--color-black: #111111;

	/* --- Borders --- */
	--border-green: #9fc739;
	--border-blue: #01a6e7;
	--border-black: #111111;
	--border-transparent: transparent;

	/* --- Backgrounds --- */
	--bg-green: #9fc739;
	--bg-blue: #01a6e7;
	--bg-lightblue: #ebf8fd;
	--bg-red: rgb(255, 0, 0);
	--bg-white: #ffffff;
	--bg-transparent: transparent;

	/* --- Font size --- */
	--fs-alpha: 12px;
	--fs-beta: 14px;
	--fs-gamma: 16px;
	--fs-delta: 18px;
	--fs-epsilon: 24px;
	--fs-zeta: 30px;
	--fs-eta: 32px;
	--fs-theta: 36px;
	
	/* --- Font weight --- */
	--fw-normal: 400;
	--fw-medium: 600;
	--fw-bold: 700;
}


/* GLOBALS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* GENERAL */
body {
	margin-top: 90px;
	overflow-x: hidden;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	font-size: var(--fs-theta);
	text-align: center;
}

h2 {
	font-size: var(--fs-eta);
	text-align: center;
}

h3 {
	font-size: var(--fs-epsilon);
	text-align: center;
}

/* GENERIC */
.green-highlight {
	color: var(--color-green);
	font-weight: var(--fw-bold);
}

.blue-highlight {
	color: var(--color-blue);
	font-weight: var(--fw-bold);
}

.black-highlight {
	color: var(--color-black);
	font-weight: var(--fw-bold);
}

.button-secondary {
	border: none;
	background: var(--bg-transparent);
}

.button-secondary a {
	color: var(--color-blue);
	padding: 10px 40px 10px 40px;
	font-weight: var(--fw-medium);
	border: 1px solid var(--border-blue);
	border-radius: 17px;
	font-size: var(--fs-beta);
}

.button-secondary a:hover {
	color: var(--color-white);
	background-color: var(--bg-blue);
}

.button-primary {
	border: none;
	background: var(--bg-transparent);
}

.button-primary a {
	color: var(--color-white);
	padding: 10px 40px 10px 40px;
	font-weight: var(--fw-medium);
	border-radius: 17px;
	background: var(--bg-blue);
	font-size: var(--fs-beta);
}

.button-primary a:hover {
	color: var(--color-blue);
	border: 1px solid var(--border-blue);
	background: var(--bg-transparent);
}

/*------------------------------------*\
	Responsive
\*------------------------------------*/
@media screen and (max-width: 600px ) {
    h2 {
        font-size: var(--fs-epsilon);
    }

    h3 {
        font-size: var(--fs-gamma);
    }

	.button-primary a, .button-secondary a {
		font-size: var(--fs-alpha);
	}
}