.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 45px;
	background-color: var(--bg-white);
}

.nav-logo {
	width: 130px;
	height: auto;
}

.nav-logo a img {
	width: 100%;
	height: auto;
}

.nav-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-list a {
	padding-right: 20px;
	padding-left: 20px;
	align-items: center;
	font-weight: var(--fw-medium);
	color: var(--color-black);
}

.nav-list a:hover {
	color: var(--color-blue);
}

.nav-pokebola {
	display: flex;
	align-items: center;
}

.nav-pokebola img {
	padding-right: 4px;
}

.nav-translation button {
	border: var(--border-transparent);
	background: var(--bg-transparent);
	padding-right: 4px;
	cursor: pointer;
}

/*------------------------------------*\
	Responsive
\*------------------------------------*/
@media screen and (max-width: 800px ) {
    .nav-logo {
		display: none;
	}

	.nav-container {
		justify-content: center;
	}
}

@media screen and (max-width: 600px ) {
	.nav-container {
		padding: 30px 10px;
	}

	.nav-list a {
		padding-right: 10px;
		padding-left: 10px;
		font-size: var(--fs-beta);
	}

    .nav-translation button {
		display: none;
	}
}