.welcome-container {
	display: flex;
	justify-content: space-between;
	padding: 20px 45px 45px 45px;
	background-image: url('../../../../../public/assets/header/Bg_Header@3x.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-title {
	width: 300px;
}

.welcome-title h2 {
	font-size: var(--fs-eta);
	font-weight: var(--fw-normal);
	padding-top: 100px;
	text-align: left;
}

.welcome-image {
	width: 50%;
}

.welcome-image img {
	width: 70%;
}
