/*------------------------------------*\
	Login
\*------------------------------------*/
.login-container {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 9rem;
    margin-bottom: 9rem;
    margin-inline: auto;
    max-width: 500px;
    overflow-y: none;
    height: fit-content;
    background-color: var(--bg-white);
}

.login-design {
    display: flex;
    justify-content: center;
    text-align: center;
}

.login-data {
    width: 70%;
}

.login-wolox img {
    width: 100px;
}

.login-portada img {
    width: 200px;
}

.container-alert-error {
    margin-top: 8px;
}

.container-alert-error .alert-error {
    color: var(--color-white);
    font-size: 10px;
    background-color: var(--bg-red);
    padding: 8px;
    border-radius: 5px;
}

.login-form .button-primary {
    margin-top: 32px;
}

.input-group {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group label {
    color: var(--color-black);
    margin-bottom: 4px;
}

.input-group input {
    padding: 4px;
    border: 1px solid var(--border-black);
    border-radius: 5px;
}

.container-helper-error {
    margin-top: 4px;
}

.container-helper-error .helper-error {
    color: var(--color-red);
    font-size: 10px;
    display: flex;
    align-items: center;
}

.container-helper-error .helper-error img {
    padding-right: 4px;
}

/*------------------------------------*\
	Animation
\*------------------------------------*/
.burbuja {
    border-radius: 50%;
    background: var(--bg-blue);
    opacity: 0;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear 6s;
}

@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }
    30% {
        transform: translateX(30px);
    }
    50% {
        opacity: .4;
    }
    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5) {
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7) {
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(8) {
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(9) {
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

/*------------------------------------*\
	Responsive
\*------------------------------------*/
@media screen and (min-width: 600px ) {
    .login-container {
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
}