.follow-us-container {
	display: flex;
	height: 350px;
}

.follow-us-image {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('../../../../../public/assets/img_woloxer.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.follow-us-background {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ebf8fd;
}

.follow-us-background h2 {
	text-align: center;
	width: 300px;
	font-size: 32px;
	font-weight: 300;
}

.follow-us-logo p {
	color: white;
	margin-bottom: 20px;
}
