.follow-us-container {
	display: flex;
	height: 529px;
}

.follow-us-image {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('../../../../../public/assets/follow-us/img_woloxer@3x.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.follow-us-logo {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.follow-us-logo p {
	color: #fff;
    font-size: 14px;
	font-weight: normal;
	padding-left: 8px;
}

.follow-us-image .button-secondary a {
	color: #fff;
}

.follow-us-background {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ebf8fd;
}

.follow-us-background h2 {
	text-align: center;
	width: 300px;
	font-weight: 500;
}


